.main-content{
    margin-top: 80px;
}

/* Header */
#search,
#search_btn{
    margin-top: 8px;
}

#search_btn{
    margin-left: 5px;
}

.btn-add-to-cart{
    float: right;
}

.images{
    height: 200px;
}

/* Shopping cart */
.shopping-cart-title,
.shopping-cart-body{
    text-align: center;
}

.shopping-cart-body{
    margin-top: 15px;
}

.side-link:hover{
    cursor: default;
}